
{{!-- remember, you can't use a partial in main.handlebars in layouts, you can only use it for handlebars files in the root of views folder --}}

<section class="offers">
    <div class="btn-container">
    <a id="offers-btn" class="btn">View offers!</a>
    </div>
</section>