<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pizza and Wine</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>

        <nav class="navbar">
            <h1 id="left-side">Pizza and Wine</h1>

            <p id="right-side">Order Now!</p>
        </nav>

        <main class="variable-section">
            {{{body}}}
        </main>

        <section class="footer">
            <p id="contact-us">Contact Us</p>

            <p id="about-us">About Us</p>

            <p id="delivery-terms-and-conditions">Delivery Terms and Conditions</p>
        </section>

    </body>

</html>