<section>

    {{#each dbWineDataFinal as |object|}}
        <h3 class="wine-name">Name - {{object.wine_name}}</h3>
    {{/each}}

    <div class="btn-container">
    <a class="btn" href="/pizza">Pizza Page</a>
    </div>

</section>

{{> offers}}